body{
    background-image: url("https://media.istockphoto.com/id/499905208/photo/seamless-cork-texture-background.jpg?s=612x612&w=0&k=20&c=IxGe-1vXP6QgGjYF3mehwacrAGECMz84gYqnER0b6Qw=");
}

#loginTitle{
    font-family: 'Comic Neue', sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 3px;
    background-color: rgb(249, 222, 100);
    box-shadow: 0px 2px 20px rgb(31, 30, 30);
}

#accountSection{
    font-family: 'Comic Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    margin: auto;
}

#loginSection{
    transition: ease 0.25s;
    position: relative;
    box-shadow: 0px 2px 20px rgb(31, 30, 30);
    padding-top: 45px;
    min-width: 200px;
    width: 30%;
    margin: 20px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(249, 222, 100);
}

#loginButton{
    width: 60%; 
}

#orLabel{
    transition: ease 0.25s;
    text-align: center;
    border-radius: 10px;
    width: 50px;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(247, 240, 240);
}

#registerSection{ 
    transition: ease 0.25s;
    box-shadow: 0px 2px 20px rgb(31, 30, 30);
    min-width: 200px;
    width: 30%;
    margin: 20px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(249, 222, 100);
}

#registerButton{
    width: 60%; 
}

#infoSection{
    transition: ease 0.25s;
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 90%;
    max-width: 1250px;
    height: 300px;
    justify-content: center;
    justify-self: center;
    background-color: rgb(249, 222, 100);
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgb(31, 30, 30);
    overflow: auto;
}

#textInfo{
    font-size: 25px;
    margin: auto;
    width: 50%;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

#imgInfo{
    max-width: 50%;
    height: 90%;
    margin: auto;
    background-color: transparent;
}


@media screen and (max-width: 1100px) and (min-width: 750px) {
    #loginSection{
        width: 70%;
    }

    #orLabel{
        width: 7.5%;
    }

    #registerSection{
        width: 70%;
    }
}

@media screen and (max-width: 750px) {
    #accountSection{
        display: block;
    }
    
    #loginSection{
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }

    #orLabel{
        margin: auto;
        margin-top: 20px;
    }

    #registerSection{
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
}
