#loginTitle{
    text-align: center;
    font-size: 50px;
}

#accountSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#loginSection{
    min-width: 200px;
    width: 25%;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

#orLabel{
    font-size: 30px;
    font-weight: 600;
}

#registerSection{ 
    min-width: 200px;
    width: 25%;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

#loginButton{
    width: 60%; 
}

#registerButton{
    width: 60%; 
}

#boardHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardContainer{
    top: 0%;
    width: 100%;
    height: 92.3%;
    position: relative;
}

.board{
    background-image: url("https://i0.pickpik.com/photos/907/581/284/backdrop-background-blank-board-preview.jpg");
    padding-top: 10px;
    display: grid;

    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 200px);
    position: relative;
}

.note{
    --fontSize: 20px;
    width: 150px;
    height: 150px;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
    transition: .2s ease;
    position: relative;
    font-size: var(--fontSize);
    overflow-wrap: anywhere;
}

.note:hover{
    transform: rotate(-7deg);
}

.hoverIcon{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    color: rgb(0, 0, 0);
    font-size: 50px;
    top: 50px;
    text-align: center;
}

.pinIcon{
    position: absolute;
    top: -20px;
    left: 55px;
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 560px) {
    .board{
        grid-template-columns: repeat(auto-fit, 125px);
        grid-template-rows: repeat(auto-fit, 125px);
    }

    .note{
        width: 100px;
        height: 100px;
        margin: 10px 10px;
        font-size: calc(var(--fontSize)/1.5) !important;
    }

    .pinIcon{
        left: 35px;
        height: 30px;
        width: 30px;
        top: -15px;
    }
}

.note:hover .hoverIcon{
    opacity: 1
} 

.inputBox{
    width: 100%;
    height: 125px;
    background-color: gainsboro;
    border: rgb(37, 35, 35) solid 2.5px;
    padding: 5px;
    margin-bottom: 10px;
}

#addNoteButton{
    width: 75px;
    height: 75px;
    background-color: gainsboro;
    opacity: 0.35;
    border: gray solid 2px;
    border-radius: 10px;
    font-size: 48px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 87.5%;
    left: 92.5%;
    transition: 0.25s ease;
}

#addNoteButton:hover{
    opacity: 0.7;
}

.colorSubheading{
    margin-bottom: -1px;
}

#colorBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-template-rows: repeat(auto-fit, 50px);
    justify-content: center;
}

.colorChoice{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: rgb(43, 40, 40) solid 3px;
    position: relative;
    cursor: pointer;
    transition: 0.025s ease;
}

.colorChoice:hover{
    border: rgb(43, 40, 40) solid 4px;
}

.selectedIcon{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 10%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
}

#settingsButton{
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

#closeButton{
    width: 100px;
}

#logoutButton{
    margin: 10px;
    width: 100px;
}

#settingsSection{
    width: 70%;
    overflow: hidden;
    margin: 20px;
}

.settingsInput{
    display: flex;
    align-items: center;
}

.updateButton{
    text-align: center;
    justify-self: center;
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: 82.5%;
    margin-top: -67.5px;
    z-index: 2;
}

@media screen and (max-width: 560px) {
    .updateButton{
       margin-left: 77.5%;
    } 
}

#updatePasswordButton{
    text-align: center;
    justify-self: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}

.settingDiv{
    display: flex;
    margin-left: 10px;
    text-align: center;
    height: 35px;
}

.settingText{
    margin-right: 10px;
}
