#loginTitle{
    text-align: center;
    font-size: 50px;
}

#accountSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#loginSection{
    width: 20%;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

#orLabel{
    font-size: 30px;
    font-weight: 600;
}

#registerSection{ 
    width: 20%;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

#loginButton{
    width: 60%; 
    background-color:rgb(230, 227, 90);
    border: rgb(230, 227, 90) solid;
}

#registerButton{
    width: 60%; 
    background-color:darkseagreen; 
    border: darkseagreen solid;
}

.boardContainer{
    width: 50%;
    height: 70%;
    position: relative;
    display: block;
}

.board{
    display: grid;
    border: solid black 3px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-template-rows: repeat(auto-fit, 125px);
    position: relative;
}

.note{
    width: 100px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    transition: .2s ease;
    position: relative;
}

.note:hover{
    transform: rotate(-7deg);
}

.hoverIcon{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    color: rgb(0, 0, 0);
    font-size: 50px;
    top: 25%;
    text-align: center;
}

.pinIcon{
    position: absolute;
    top: -8%;
    left: 35%;
    height: 30px;
    width: 30px;
}

.note:hover .hoverIcon{
    opacity: 1
} 

.inputArea{
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 5%;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
}

#inputBox{
    width: 80%;
    height: 70%;
    background-color: gainsboro;
    opacity: 0.5;
    border: gray solid 2px;
    border-radius: 10px;
    padding: 0 5px;
}

#colorInput{
    width: 7.5%;
    height: 70%;
    margin-left: 10px;
    justify-content: center;
    position: relative;
}

#colorSelector{
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#colorBox{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    border: black solid 3px;
    background-color: blueviolet;
}

#submitButton{
    width: 10%;
    height: 70%;
    background-color: gainsboro;
    opacity: 0.5;
    border: gray solid 2px;
    border-radius: 10px;
    font-size: 24px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

#logoutButton{
    background-color: crimson;
    border: solid crimson;
    margin: 10px;
    width: 150px;
}